//  Variables
//  ==========================================================================


//  Colors
//  --------------------------------------------------------------------------

// main color of the company such as the isotype, logo, etc.
$color-company      = #0075BA
// colour of text and main colour overall
$color-primary      = #E8E8E8
// colour of any components, backgrounds, etc.
$color-secondary    = #F5F5F5
// special colour to complement secondary colour
$color-tertiary     = #E8E8E8

$color-fourth       = #CECECE

$color-title        = $color-tertiary
$color-text         = $color-primary
$color-link         = $color-company
$color-bg-primary   = $color-secondary // normal
$color-bg-secondary = #292845 // claro
$color-bg-tertiary  = #181728 // oscuro



//  Base
//  --------------------------------------------------------------------------

// Typography
$font-title = 'Dosis', sans-serif //600;700;800
$font-text = 'Quicksand', sans-serif //400;500

$font-family = 'Roboto', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
$font-size   = 14px
$line-height = 1.6