.c-card
  width: 250px
  position: relative
  &__frame
    width: 100%
    height: auto
    display: block
    margin: 0 auto
  
  &__monster
    position: absolute
    bottom: 5%
    left: 0%
    width: 100%
    height: auto
  
  &__statistics
    position: absolute
    top: 30px
    right: 20px
    display: flex
    align-items: flex-end
    flex-direction: column
    img
      display: block
      height: auto
      max-height: 35px
      margin-bottom: 5px
      max-width: 25px
    img:nth-child(2)
      margin-bottom: 13px
  &__numbers
    align-items: flex-end
    display: flex
    display: flex
    flex-direction: column
    font-size: 16px
    position: absolute
    right: 28px
    top 33px
    font-weight: 800
    & > *
      color: #eee
      margin-top 14px
      height: 25px
      background: rgb(255, 228, .5)
      border-top-right-radius: 20px
      border-bottom-right-radius: 20px
      width: 50px
      display: flex
      align-items: center
      justify-content: flex-end
      padding-right: 20px
    & > *:nth-child(1)
      margin-top 0
  &__numbers.is--yellow
    span 
      background: linear-gradient(90deg, #02002400 0%, #ffd211 100%)
  &__numbers.is--gray
    span 
      background: linear-gradient(90deg, #02002400 0%, #f9f9f9 100%)
      color: #f7f7f7
  &__numbers.is--red
    span 
      background: linear-gradient(90deg, #02002400 0%, #ba3331 50%)
  &__numbers.is--blue
    span 
      background: linear-gradient(90deg, #02002400 0%, #0055ad 50%)
  &__numbers.is--green
    span 
      background: linear-gradient(90deg, #02002400 0%, #00692b 50%)
  &__numbers.is--black
    span 
      background: linear-gradient(90deg, #02002400 0%, #ffa929 50%)