.c-footer
  display: flex
  justify-content: center
  margin-top: 100px
  padding-bottom: 50px
  &__wrapper
    width: 1200px
    padding: 0 20px
    color: #FAFAFA80
    display: flex
    justify-content: space-between
    @media screen and (max-width: 600px)
      flex-direction: column-reverse
      align-items: center
  
  &__left
    width: 50%
  
  &__logo
    margin: 0 0 20px 0

  &__social
    margin-top 20px
    display: flex
    a
      margin-right: 15px
  
  &__right
    display: flex
    width: 50%
    justify-content: flex-end
    @media screen and (max-width: 600px)
      margin-bottom 50px
      width: 100%
      justify-content: center
  &__links
    margin-left: 30%
    display: flex
    flex-direction: column
    .title
      font-weight: 600
      font-size: 22px
      color: #eee
    a
      color: #FAFAFA80
      text-decoration: none
      margin-top 15px
    a:hover
      text-decoration: underline      
  &__links:nth-child(1)
    @media screen and (max-width: 600px)
      margin-left: 0
