.c-grid
  display: flex
  flex-wrap: wrap
  justify-content: center

  // &__content
  // &__content:nth-child(1)
  //   border-left: none
  &__item
    padding: 20px
    margin: 10px
    background: #19435b
    border-radius: 5px
  
  &__data
    color: #fff
  // &__title
  //   text-transform: uppercase

  &__prices
    display: flex
    justify-content: space-between
    margin-bottom: 10px
    & > *:nth-child(1)
      margin-right: 5px
    & > *:nth-child(2)
      margin-left: 5px

  &__buy
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    height: 40px
    border: none
    font-size: 16px
    font-weight: 600
    cursor: pointer
    position: relative
    margin-top: 15px
    color: #123b53
    &:hover:before
      box-shadow: 3px 2px 10px #000
    &:active:before
      transform: scale(0.9)
    &:before
      background: #a9deee
      transition: 0.5s ease all
      content: ''
      position: absolute
      top: 0
      height: 100%
      left 0
      width: 100%
    span
      position: relative
    