.c-header
  display: flex
  justify-content: center
  &__wrapper
    width: 1200px
    margin: 0 15px
    display: flex
    justify-content: space-between
    height: 150px
    align-items: center
  
  &__logo
    height: 41px
  
  &__links
    margin-left: auto
  &__links > *
    color #FAFAFA60
    text-decoration: none
    font-family: 18px
    margin-left: 20px
  &__links > *:hover
    color #Fff
  
  &__btn
    height: 68px
    width: 175px
    background: #A9DEEE
    color: #123B53
    display: flex
    justify-content: center
    align-items: center
    margin-left 25px
    font-size: 18px