.c-owner
  display: flex
  align-items: center
  position: relative
  padding: 10px
  &:before
    border-radius: 10px
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
  &__image
    height: 50px
    width: 50px
    border-radius: 50%
    overflow: hidden
    display: flex
    justify-content: center
    align-items: center
    position: relative
    img
      width: 100%
      height: auto
  &__text
    padding 0 0 0 10px
    position: relative
  &__title,
  &__author
    margin: 0
    color #eee
  &__title
    opacity .7
    font-size: 14px
    font-weight: 400
  &__author
    opacity .9
    margin-top: 0px
    font-size: 16px
