.c-price
  background: rgba(11, 81, 152, 0.5)
  padding: 10px 15px
  width: 100%
  &__title,
  &__number
    margin: 0
    color: #fff
  &__title
    opacity .7
    font-size: 14px
    font-weight: 300
  &__number
    opacity .9