.c-sell-card
  background: #2297d7
  display: none
  justify-content: center
  color: #fff
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  &.is--active
    display: flex
  &__cross
    align-content: center
    display: flex
    font-family: cursive
    font-size: 35px
    font-weight: 800
    height: 55px
    justify-content: center
    position absolute
    width: 55px
    color: white
    right: 10px
    line-height: 1
    top: 10px
    border: none
    cursor: pointer

  &__wrapper
    align-items: center
    display: flex
    max-width: 600px
    padding: 100px 15px
    width: 100%
  &__content
    margin-left: 30px
  
  &__prices
    display: flex
    justify-content: space-between
    width: 100%
    margin-bottom 10px
    & > *:nth-child(1)
      margin-right: 5px
    & > *:nth-child(2)
      margin-left: 5px
  
  &__title
    font-size: 50px
    margin: 0 0 20px 0
  
  &__description
    opacity .8
    font-weight: 300
    margin 0 0 20px 0
  
  &__btn
    margin-top: 15px
    padding: 0 30px
    border: none
    background: #0055ad
    color: #fff
    display: flex
    justify-content: center
    align-items: center
    height: 60px
    transition transform 0.3s ease
    cursor: pointer
    &:hover
      transform: scale(0.95)