.c-title
  display: flex
  align-items: center
  background: #141f24
  height: 150px
  justify-content: center
  margin-bottom: 50px
  &__text
    font-family: cursive
    color: #fff
    font-size: 50px
    letter-spacing: 1px