@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
  background: #123b53;
}
button {
  border-width: 1px;
  border-radius: 7px;
  background: none;
  font-size: 14px;
  height: 26px;
}
.o-wrapper {
  box-sizing: border-box;
  padding-left: 32px;
  padding-right: 32px;
  width: 100%;
}
@media screen and (max-width: 480px) {
  .o-wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.c-button {
  align-items: center;
  background: #0075ba;
  border: 1px solid #0075ba;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #cecece;
  cursor: pointer;
  display: flex;
  height: 29px;
  justify-content: center;
  min-width: 122px;
  transition: 0.3s linear all;
}
.c-button__icon {
  display: block;
  height: 12px;
  margin-right: 7px;
  width: auto;
}
.c-button__text {
  color: #fff;
  font-size: 14px;
  transition: 0.3s linear all;
}
.c-button:hover {
  background: #e8e8e8;
}
.c-button:hover .c-button__text {
  color: #333;
}
.c-button.is--white {
  background: #fff;
  border: 1px solid #fff;
}
.c-button.is--white .c-button__text {
  color: #333;
}
.c-button.is--white:hover {
  border: 1px solid #0075ba;
}
@media screen and (max-width: 667px) {
  .c-button__text {
    font-size: 12px;
  }
  .c-button.is--icon {
    height: 35px;
    min-width: initial;
  }
  .c-button.is--icon .c-button__icon {
    margin: 0 10px;
  }
  .c-button.is--icon .c-button__text {
    display: none;
  }
}
.c-title {
  display: flex;
  align-items: center;
  background: #141f24;
  height: 150px;
  justify-content: center;
  margin-bottom: 50px;
}
.c-title__text {
  font-family: cursive;
  color: #fff;
  font-size: 50px;
  letter-spacing: 1px;
}
.c-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.c-grid__item {
  padding: 20px;
  margin: 10px;
  background: #19435b;
  border-radius: 5px;
}
.c-grid__data {
  color: #fff;
}
.c-grid__prices {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.c-grid__prices > *:nth-child(1) {
  margin-right: 5px;
}
.c-grid__prices > *:nth-child(2) {
  margin-left: 5px;
}
.c-grid__buy {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  margin-top: 15px;
  color: #123b53;
}
.c-grid__buy:hover:before {
  box-shadow: 3px 2px 10px #000;
}
.c-grid__buy:active:before {
  transform: scale(0.9);
}
.c-grid__buy:before {
  background: #a9deee;
  transition: 0.5s ease all;
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  width: 100%;
}
.c-grid__buy span {
  position: relative;
}
.c-card {
  width: 250px;
  position: relative;
}
.c-card__frame {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.c-card__monster {
  position: absolute;
  bottom: 5%;
  left: 0%;
  width: 100%;
  height: auto;
}
.c-card__statistics {
  position: absolute;
  top: 30px;
  right: 20px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.c-card__statistics img {
  display: block;
  height: auto;
  max-height: 35px;
  margin-bottom: 5px;
  max-width: 25px;
}
.c-card__statistics img:nth-child(2) {
  margin-bottom: 13px;
}
.c-card__numbers {
  align-items: flex-end;
  display: flex;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  position: absolute;
  right: 28px;
  top: 33px;
  font-weight: 800;
}
.c-card__numbers > * {
  color: #eee;
  margin-top: 14px;
  height: 25px;
  background: #ffe401;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
}
.c-card__numbers > *:nth-child(1) {
  margin-top: 0;
}
.c-card__numbers.is--yellow span {
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, #ffd211 100%);
}
.c-card__numbers.is--gray span {
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, #f9f9f9 100%);
  color: #f7f7f7;
}
.c-card__numbers.is--blue span {
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, #0055ad 50%);
}
.c-owner {
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px;
}
.c-owner:before {
  border-radius: 10px;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.c-owner__image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.c-owner__image img {
  width: 100%;
  height: auto;
}
.c-owner__text {
  padding: 0 0 0 10px;
  position: relative;
}
.c-owner__title,
.c-owner__author {
  margin: 0;
  color: #eee;
}
.c-owner__title {
  opacity: 0.7;
  font-size: 14px;
  font-weight: 400;
}
.c-owner__author {
  opacity: 0.9;
  margin-top: 0px;
  font-size: 16px;
}
.c-price {
  background: #28526a;
  padding: 10px 15px;
  width: 100%;
}
.c-price__title,
.c-price__number {
  margin: 0;
  color: #fff;
}
.c-price__title {
  opacity: 0.7;
  font-size: 14px;
  font-weight: 300;
}
.c-price__number {
  opacity: 0.9;
}
.c-sell-card {
  background: #2297d7;
  display: none;
  justify-content: center;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.c-sell-card.is--active {
  display: flex;
}
.c-sell-card__cross {
  align-content: center;
  display: flex;
  font-family: cursive;
  font-size: 35px;
  font-weight: 800;
  height: 55px;
  justify-content: center;
  position: absolute;
  width: 55px;
  color: #fff;
  right: 10px;
  line-height: 1;
  top: 10px;
  border: none;
  cursor: pointer;
}
.c-sell-card__wrapper {
  align-items: center;
  display: flex;
  max-width: 600px;
  padding: 100px 15px;
  width: 100%;
}
.c-sell-card__content {
  margin-left: 30px;
}
.c-sell-card__prices {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}
.c-sell-card__prices > *:nth-child(1) {
  margin-right: 5px;
}
.c-sell-card__prices > *:nth-child(2) {
  margin-left: 5px;
}
.c-sell-card__title {
  font-size: 50px;
  margin: 0 0 20px 0;
}
.c-sell-card__description {
  opacity: 0.8;
  font-weight: 300;
  margin: 0 0 20px 0;
}
.c-sell-card__btn {
  margin-top: 15px;
  padding: 0 30px;
  border: none;
  background: #0055ad;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.c-sell-card__btn:hover {
  transform: scale(0.95);
}
