@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  background: #282c34;
}
button {
  border-width: 1px;
  border-radius: 7px;
  background: none;
  font-size: 14px;
  height: 26px;
}
.o-wrapper {
  box-sizing: border-box;
  padding-left: 32px;
  padding-right: 32px;
  width: 100%;
}
@media screen and (max-width: 480px) {
  .o-wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.c-button {
  align-items: center;
  background: #0075ba;
  border: 1px solid #0075ba;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #cecece;
  cursor: pointer;
  display: flex;
  height: 29px;
  justify-content: center;
  min-width: 122px;
  transition: 0.3s linear all;
}
.c-button__icon {
  display: block;
  height: 12px;
  margin-right: 7px;
  width: auto;
}
.c-button__text {
  color: #fff;
  font-size: 14px;
  transition: 0.3s linear all;
}
.c-button:hover {
  background: #e8e8e8;
}
.c-button:hover .c-button__text {
  color: #333;
}
.c-button.is--white {
  background: #fff;
  border: 1px solid #fff;
}
.c-button.is--white .c-button__text {
  color: #333;
}
.c-button.is--white:hover {
  border: 1px solid #0075ba;
}
@media screen and (max-width: 667px) {
  .c-button__text {
    font-size: 12px;
  }
  .c-button.is--icon {
    height: 35px;
    min-width: initial;
  }
  .c-button.is--icon .c-button__icon {
    margin: 0 10px;
  }
  .c-button.is--icon .c-button__text {
    display: none;
  }
}
.c-card {
  margin: 25px;
  width: 300px;
  background: #11124a;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #eee;
  border-radius: 15px;
  padding-top: 20px;
}
.c-card__content {
  position: relative;
  width: calc(100% - 30px);
}
.c-card__frame {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.c-card__monster {
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: auto;
}
.c-card__statistics {
  position: absolute;
  top: 30px;
  right: 20px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.c-card__statistics img {
  display: block;
  height: auto;
  max-height: 35px;
  margin-bottom: 5px;
  max-width: 25px;
}
.c-card__statistics img:nth-child(2) {
  margin-bottom: 13px;
}
.c-card__numbers {
  align-items: flex-end;
  display: flex;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  position: absolute;
  right: 28px;
  top: 33px;
  font-weight: 800;
}
.c-card__numbers>* {
  color: #eee;
  margin-top: 14px;
  height: 25px;
  background: #ffe401;
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, #ffd211 100%);
  border-radius: 20px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
}
.c-card__numbers>*:nth-child(1) {
  margin-top: 0;
}
